{% extends 'flatpages/default.html' %}

{% load news_filters %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    {% if not is_not_author %}
    <a href="{% url 'post_create' %}"><h4>Create Post</h4></a>
    {% endif %}
    {% if posts %}
        <p>Amount of all news: {{ posts|length }}</p>
        <h1>News:</h1>
        <br>
        {% for post in posts %}
        <h3>Title: <a href="{% url 'post_detail' post.id%}">{{ post.title|censor }}</a></h3>
        <p>Date: {{ post.create_date.day }}.{{ post.create_date.month }}.{{ post.create_date.year }}</p>
        <h5>Body: {{ post.body|censor|truncatechars:50 }}</h5>
        <h5>Author: {{ post.author.user.username }}</h5>
            <br>
            <br>
        {% endfor %}
            {% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    {% endif %}
    {% else %}
        <div>There are no news yet, become an author and create them yourself.</div>
    {% endif %}
{% endblock content %}