{% extends 'flatpages/default.html' %}
{% load news_filters %}
{% block title %}
    {{ post.title|censor }}
{% endblock title %}
{% block content %}
    <h1>Delete this post?</h1>
    <br><br>
    <p>Author: {{ post.author.user.username }}</p>
    <p>Date: {{ post.create_date.day }}.{{ post.create_date.month }}.{{ post.create_date.year }} {{ post.create_date.hour }}:{{ post.create_date.minute }}</p>
    <h1>{{ post.title|censor }}</h1>
    <h3>{{ post.body|censor }}</h3>
    <h5>Rating: {{ post.post_rating }}</h5>
    <form method="POST">
        {% csrf_token %}
    <input type="submit" value="Yes!"></form>
{% endblock content %}
